<h3><ng-content select='[title]'>Ask a question</ng-content></h3>
<div>
    <label for="systemPrompt">System Prompt:&nbsp;&nbsp;</label>
    <span id="systemPrompt" name="systemPrompt">{{ systemPrompt() }}</span>
</div>
<div>
    <ng-content select='[context]' />
</div>
<div>
    <label for="query">Query:&nbsp;&nbsp;</label>
    <input id="query" name="query" [(ngModel)]="query" [disabled]="isLoading()" />
</div>
@let text = isLoading() ? 'Generating...' : 'Ask';
<button (click)="generateAnswer()" [disabled]="isLoading()">{{ text }}</button>
<div>
    <label for="answer">Answer:&nbsp;&nbsp;</label>
    <div class="answer" #answer></div>
</div>
