div.layout {
    display: flex; 
    justify-content: flex-start;
}

div.layout > div {
    flex: 0 1 calc(100% / 3);
}

div.delete-dropdown {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 0.5rem;
    margin-bottom: 0;
}
