div.layout {
    display: flex; 
}

div.layout > div {
    flex: 1 1 calc(100% * 2 / 3);
}

div.layout > button {
    flex: 1 1 calc(100% / 3);
}

div.delete-dropdown {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 0.5rem;
    margin-bottom: 0;
}
